BLOCK_LINKS=true
IGNORE_ADMINS=false
LEAVE_MESSAGE_FOR_BLOCKED_LINK=false
ANTI_SPAM_ENABLED=true
ANTI_SPAM_DELETE_MESSAGE=true
ANTI_SPAM_WARN_USER=false
PAIR_WITH_PHONE_NUMBER=
PAIRING_SHOW_NOTIFICATION=true
PAIRING_INTERVAL_MS=180000
PUPPETEER_EXECUTABLE_PATH=
PUPPETEER_HEADLESS=true
