BOT_PREFIX=!
BLOCK_LINKS=true
IGNORE_ADMINS=true
WELCOME_NEW_MEMBERS=true
LEAVE_MESSAGE_FOR_BLOCKED_LINK=true
ANTI_SPAM_ENABLED=true
ANTI_SPAM_MAX_MESSAGES=5
ANTI_SPAM_WINDOW_MS=10000
ANTI_SPAM_DELETE_MESSAGE=true
ANTI_SPAM_WARN_USER=true
PAIR_WITH_PHONE_NUMBER=
PAIRING_SHOW_NOTIFICATION=true
PAIRING_INTERVAL_MS=180000
PUPPETEER_EXECUTABLE_PATH=
PUPPETEER_HEADLESS=true
