BOT_PREFIX=!
BLOCK_LINKS=true
IGNORE_ADMINS=true
WELCOME_NEW_MEMBERS=true
LEAVE_MESSAGE_FOR_BLOCKED_LINK=true
PAIR_WITH_PHONE_NUMBER=
PAIRING_SHOW_NOTIFICATION=true
PAIRING_INTERVAL_MS=180000
PUPPETEER_EXECUTABLE_PATH=
PUPPETEER_HEADLESS=true
